/* this is for tablets and large phones */

@media screen and (max-width: 1300px){
  
    header {
      background-color: rgba(0,0,0,0.7);
    }
  
    header nav {
      width: 100%;
      height: 100%;
    }
  
    header nav ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
    }
  
    header nav ul li {
      justify-content: center;
      font-size: 1em;
    }
  
    .screen1 {
      margin-bottom: 300px;
      height: 65vh;
      background-repeat: space;
      background-size: cover;
    }
  
    .title_card {
      padding-left: 30px;
      width: 100%;
    }
  
    .title_card h1 {
      font-size: 5.5em;
    }
  
    .title_card h2 {
      font-size: 1.7em;
      padding-bottom: 40px;
    }
  
    .title_card button{
      font-size: 1em;
      margin: 0;
      margin: 0 20px 0 0;
    }
  
    .reservation_card {
      width: 100%;
      height: 270px;
      left: 0;
      bottom: -270px;
      box-shadow: none;
      border-radius: 0;
    }
  
    .reservation_card h1 {
      font-size: 2em;
    }
  
    .reservation_card input {
      width: 70%;
      font-size: 1em;
    }
  
    .screen2 {
      height: 600px;
      background: rgb(59, 36, 36);
    }
  
    .screen2 h1 {
      font-size: 2em;
      padding: 30px;
      color: rgb(255, 255, 255)
    }
  
    .screen2 .photo_carousel {
      height: 400px;
    }
  
    .screen2 img {
      width: 75px;
      height: 75px;
      filter: brightness(50%);
    }
  
    .screen2 button {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background: rgba(255, 255, 255, 0.7);
      font-size: 25px;
      z-index: 2;
      position: absolute;
    }
  
    .photo_carousel button:first-child {
      left: 100px;
    }
    
    .photo_carousel button:last-child {
      right: 100px;
    }
  
    .photo_carousel img:nth-child(3) {
      width: 150px;
      height: 150px;
      filter: brightness(70%);
    }
  
    .photo_carousel img:nth-child(4) {
      width: 300px;
      height: 300px;
      z-index: 2;
      filter: brightness(100%);
    }
  
    .photo_carousel img:nth-child(5) {
      width: 150px;
      height: 150px;
      filter: brightness(70%);
    }  
  }  